#back{
background-image: url("https://cdn5.vectorstock.com/i/1000x1000/85/74/red-dice-on-green-background-vector-16168574.jpg");
}
#body-section
{

padding: 10% 5%;

}
.h1-tag{
  padding-bottom:5%;
  font-size: 2.6rem;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 8px 0 #232931;
  font-size: 7rem;
  color: #fff;

}
.form-page{

  border-radius:10%;
  background-color: #fff;
  padding: 3% 3%;

}
.player-span{
  font-size: 1.5rem;
  text-align:center;
  font-family: cursive;

}
